@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Slab&display=swap');

:root {
  --heading-font: "Cinzel", Tahoma, Times;
  --paragraph-font: "Roboto Slab", Helvetica, sans-serif;
}

/*=====================================*/

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    font-family: var(--paragraph-font);
    background-color: #2E5C60;
}

#background {
    margin-bottom: 100px;
    background-color: #2E5C60;
    height: 725px;
}

.home-title {
    margin-top: 10px;
    font-size: 2em;
    background-color: #2E5C60;
    color: #ffffff;
    font-family: var(--heading-font);
}

main section {
    font-family: var(--heading-font);
    text-align: center;
}

/*=====================================*/

nav a {
    padding: 30px;
    text-align: center;
    text-decoration: none;
    /*background-color: #2E5C60;*/
    color: #ffffff;
}

nav a:hover {
    /*background-color: #80D8D6;*/
    color: #80D8D6;
}

/*=====================================*/

footer {
    margin-top: 200px;
    padding: 25px 50px;
    font-family: var(--paragraph-font);
    background-color: #2E5C60;
    color: #ffffff
}

footer a {
    font-family: var(--paragraph-font);
    background-color: #2E5C60;
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    background-color: #80D8D6;
}

footer p {
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/*=====================================*/

.logo {
    width: 80px;
}

.icon {
    padding-top: 10px;
    width: 80px;
}

.button-box {
    text-align: center;
}

/*=====================================*/

.msg {
    margin-top: 200px;
    padding: 35px;
    line-height: 1.5em;
    font-family: var(--paragraph-font);
    background-color: #2E5C60;
}

.msg h2 {
    background-color: #2E5C60;
    color: #ffffff;
    font-family: var(--heading-font); 
}

.msg p {
    padding-bottom: 15px;
    background-color: #2E5C60;
    color: #ffffff;
}

h4 {
    font-family: var(--heading-font);
    background-color: #2E5C60;
    color: #ffffff;
}

h2 {
    margin: 0;
}
/*=====================================*/

#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

/*=====================================*/

.book, .join {
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    font-family: var(--paragraph-font);
    background-color: #2E5C60;
    text-decoration: none;
    color: #ffffff;
}

.book:hover, .join:hover {
    background-color: #80D8D6;
    color: #ffffff;
}

/*=====================================*/

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #438889;
}

main section img {
    box-sizing: border-box;
}