/*=====================================*/

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #2E5C60;
}

#background {
    background-color: #2E5C60;
    height: 725px;
}

.home-title {
    background-color: #2E5C60;
    color: #ffffff;
}

main section {
    text-align: center;
}

/*=====================================*/

nav a {
    text-align: center;
    text-decoration: none;
    background-color: #2E5C60;
    color: #ffffff;
}

nav a:hover {
    background-color: #80D8D6;
    color: #ffffff;
}

/*=====================================*/

footer {
    background-color: #2E5C60;
    color: #ffffff
}

footer a {
    background-color: #2E5C60;
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    background-color: #80D8D6;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

/*=====================================*/

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

.button-box {
    text-align: center;
}

/*=====================================*/

.msg {
    background-color: #2E5C60;
}

.msg h2 {
    background-color: #2E5C60;
    color: #ffffff; 
}

.msg p {
    background-color: #2E5C60;
    color: #ffffff;
}

h4 {
    background-color: #2E5C60;
    color: #ffffff;
}

/*=====================================*/

#hero-img {
    width: 100%;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

/*=====================================*/

.book, .join {
    background-color: #2E5C60;
    text-decoration: none;
    color: #ffffff;
}

.book:hover, .join:hover {
    background-color: #80D8D6;
    color: #ffffff;
}

/*=====================================*/