@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto:wght@300&display=swap');

:root {
  --heading-font:  'Exo 2', sans-serif;
  --paragraph-font:  'Roboto', Helvetica, sans-serif;
}
/*============================================================================================*/

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  font-family: var(--heading-font);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(152, 152, 152, 0.8);
  border: 12px solid #80D8D6;
  box-shadow: 0px 0px 55px #80D8D6;
  height: 200px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 50px;
}

#logo_link {
  text-decoration: none;
}

.logo {
  max-width: 270px;
  height: auto;
  margin-left: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  gap: 110px;
  padding-left: 100px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border: 8px solid rgba(152, 152, 152, 0.8);
  box-shadow: 0px 1px 10px rgba(152, 152, 152, 0.8);
  border-radius: 50px;
}

nav a:hover {
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  color: #80D8D6;
  text-shadow: -5px 5px 15px#80D8D6;
  border-radius: 50px;
}

main {
  padding: 20px;
}

footer {
  font-family: var(--heading-font);
  text-align: center;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(152, 152, 152, 0.8);
  border: 12px solid #80D8D6;
  box-shadow: 0px 0px 55px #80D8D6;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 50px;
}

footer a {
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  color: #80D8D6;
  text-shadow: -5px 5px 15px#80D8D6;
  border-radius: 50px;
}

.resize {
  font-size: 0.0em;
}
/*============================================================================================*/

#introduction {
  text-align: center;
}

h1 {
  font-family: var(--heading-font);
  padding: 60px;
  color: #80D8D6;
  text-shadow: 0px 0px 4px#80D8D6;
  font-size: 2.0em;
}

h4 {
  font-family: var(--paragraph-font);
  color: #80D8D6;
  text-shadow: 0px 0px 2px#80D8D6;
  margin-left:  100px;
  margin-right: 100px;
}

.calendar-buttom {
  margin-bottom: 100px;
  padding-top: 20px;
}

.calendar-redirect {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--heading-font);
  padding: 10px;
  border: 8px solid rgba(152, 152, 152, 0.8);
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 50px;
  margin-left:  600px;
  margin-right: 600px;
}

.calendar-redirect:hover {
  color: #80D8D6;
  text-shadow: -5px 5px 15px#80D8D6;
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  border-radius: 50px;
}
/*============================================================================================*/

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
}

.question-buttom {
  font-family: var(--heading-font);
  padding: 0px;
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
  margin-left:  100px;
  margin-right: 1100px;
}

.question-buttom2 {
  font-family: var(--heading-font);
  padding: 0px;
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
  margin-left:  100px;
  margin-right: 1010px;
}

.question-buttom3 {
  font-family: var(--heading-font);
  padding: 0px;
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
  margin-left:  100px;
  margin-right: 990px;
}

.question-buttom4 {
  font-family: var(--heading-font);
  padding: 0px;
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
  margin-left:  100px;
  margin-right: 1140px;
}

.howtostart-card p, .whattobring-card p, .whattools-card p, .extratips-card p {
  font-family: var(--paragraph-font);
  text-align: left;
  color: #ffffff;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 200px;
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
  font-size: 24px;
}
/* Child 1 ===================================================================================*/
.calendarmessage-card {
  font-family: var(--paragraph-font);
  text-align: center;
  color: #ffffff;
  padding: 10px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 130px;
  margin-top: 150px;
  border: 12px solid #80D8D6;
  box-shadow: -2px 2px 25px #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
  font-size: 20px;
}

.small-tip {
  text-align: center;
}
/* Child 2 ===================================================================================*/
.solar-system {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 100vh;*/
  margin: 0 auto;
}

#solar_redirect {
  margin-top: 100px
}

.solar-title {
  padding-top: 50px;
}

.planet-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-card-img {
  transition: transform .5s;
  max-width: 100%;
  height: auto;
  margin: 20px;
  border: 12px solid #80D8D6;
  box-shadow: -2px 2px 25px #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
}

.planet-card-off-img {
  transition: transform .5s;
  max-width: 100%;
  height: auto;
  margin: 20px;
  border: 12px solid rgba(152, 152, 152, 0.8);
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 30px;
}

.planet-card-img:hover {
  transform: scale(1.1);
}

.planet-card-off-img:hover {
  transform: scale(1.1);
}

.curiosities-title {
  color: #ffffff;
  font-size: 34px;
  margin-top: 220px;
  margin-bottom: 135px;
  margin-left: 600px;
  margin-right: 600px;
  border: 8px solid #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  box-shadow: -2px 2px 15px #80D8D6;
  text-shadow: none;
  border-radius: 50px;
}

/* Child 2 solar model========================================================================*/
.solar-sign-buttom {
  padding-top: 20px;
}

.solar-sign {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--heading-font);
  padding: 10px;
  border: 8px solid rgba(152, 152, 152, 0.8);
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 50px;
  margin: 50px auto 0 auto; /* IMPORTANT */
}

.solar-sign:hover {
  color: #80D8D6;
  text-shadow: -5px 5px 15px#80D8D6;
  border: 8px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  border-radius: 50px;
}
/*============================================================================================*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  font-family: var(--heading-font);
  color: #80D8D6;
  text-shadow: -5px 5px 15px#80D8D6;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 200px;
}

.active, .dot:hover {
  background-color: rgba(152, 152, 152, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*============================================================================================*/
div.gallery {
  border: 12px solid rgba(152, 152, 152, 0.8);
  background-color: rgba(152, 152, 152, 0.8);
  border-radius: 10px;
}

div.gallery:hover {
  border: 12px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  border-radius: 10px;
}

.currently-month {
  color: #ffffff;
  font-size: 34px;
  margin-top: 100px;
  margin-left: 600px;
  margin-right: 600px;
  border: 8px solid #80D8D6;
  background-color: rgba(152, 152, 152, 0.8);
  box-shadow: -2px 2px 15px #80D8D6;
  text-shadow: none;
  border-radius: 50px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  font-family: var(--heading-font);
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*============================================================================================*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgba(152, 152, 152, 0.8);
  border: 12px solid rgba(152, 152, 152, 0.8);
  cursor: pointer;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  margin-left: 225px;
  font-family: var(--heading-font);
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.panel p {
  color: #80D8D6;
  text-shadow: -5px 5px 15px#80D8D6;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  border: 12px solid #80D8D6;
  box-shadow: -2px 2px 15px #80D8D6;
  color: #80D8D6;
  text-shadow: -5px 5px 15px#80D8D6;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 20px;
  margin-left: 240px;
  margin-right: 240px;
  display: none;
  overflow: hidden;
}
