main {
    width: 800px;
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main img {
    width: 300px;
    height: auto;
    border: 1px black;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

footer {
    background-color: black;
    margin-top: 15px;
    text-align: center;
}

footer p {
    color: white;
}

aside {
    width: 30%;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 10px;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}