.callout {
    max-width: 400px;
    padding: 15px;
    border: 1px solid rgb(0 0 0 / 0.1);
    margin: 10px;
    background-color: hsl(240, 74%, 34%);
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 10px;
    border: 1px black;
    padding: 3px;
    background-color: grey;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: smaller;
}